<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.FastFoodManagementDBConnectionString"
            connectionString="Data Source=HOANG-KHANG\SQLSRV_KHANG;Initial Catalog=FastFoodManagementDB;User ID=sa;Password=sa123456;Encrypt=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>